body{
    background: url('http://images.ientrymail.com/photoshoppoint/www/tutorials/04/woodtexture.jpg') repeat;
}

.container{
    background: #FFF;
}

.fcontroller_block__btn{

}

.fcontroller_block__out{
    margin: 20px 0px;
}